<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AspDotNetCoreMVC</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Datepicker -->
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" />
    *@
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Datatable -->
    @*<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>*@
    <style>
        /* Decrease the size of the alert dialog */
        .swal2-popup {
            width: 350px; /* Adjust the width as per your requirements */
            height: auto; /* Adjust the height as per your requirements */
            font-size: 14px; /* Adjust the font size as per your requirements */
        }
    </style>

    <script>

        function displayAlert() {
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            })
        }

        function SuccessMessageBox(text) {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: text,
                showConfirmButton: false,
                timer: 1500
            })
        }

        function ErrorMessageBox(text) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: text,
            });
        }

        function WarningMessageBox(text) {
            Swal.fire({
                icon: 'warning',
                title: 'Oops...',
                text: text,
            });
        }

        function InfoMessageBox(text) {
            swal({
                title: 'Information!',
                text: text,
                type: 'info',
                allowOutsideClick: false,
                allowEscapeKey: false
            });
        }

        function SuccessMessageBoxWithLink(text, link) {
            Swal.fire({
                position: 'top-center',
                icon: 'success',
                title: text,
                showConfirmButton: true,
                timerProgressBar: true, // Display a progress bar during the timer countdown
                allowOutsideClick: false // Prevent the user from dismissing the alert by clicking outside
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the desired link when the "OK" button is clicked
                    window.location.href = link;
                }
            });
        }

        function SuccessMessageWithLink(text, link) {
            swal({
                title: 'Success!',
                text: text,
                type: 'success',
                showConfirmButton: false,
                timer: 1500,
                allowEscapeKey: false
            }).then(function () {
                window.location = link;
            });
        }

        function ConfirmMessageBox(title, message, callback) {
            swal({
                title: title,
                text: message,
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                //confirmButtonClass: 'btn btn-success',
                //cancelButtonClass: 'btn btn-danger',
            }).then((confirmed) => {
                callback(confirmed && confirmed.value == true);
            });
        }

        //SuccessMessageBoxWithLink('Sweetalert 2.7 test!', location.href);
        //SuccessMessageBox('Sweetalert 2.7 test!');
        //ErrorMessageBox('Sweetalert 2.7 test!');
        //WarningMessageBox('Sweetalert 2.7 test!');
        //InfoMessageBox('Sweetalert 2.7 test!');
    </script>

</head>
<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Personal Information</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/dist/img/Desert.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Su Thet</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">Set up</li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    ကိုယ်ရေးအချက်အလက်
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>မိသားစုဝင်များ</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>ပညာအရည်အချင်း</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>တက်ရောက်ခဲ့သောသင်တန်းများ</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>ရာထူး</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>ဆုတံဆိပ်/ဘွဲ့များ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>ဆေးကုသမှုမှတ်တမ်း</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>နိုင်ငံခြားခရီးစဉ်</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Create" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>တတ်ကျွမ်းသည့် ဘာသာစကားများ</p>
                            </a>
                        </li>
                        <li class="nav-header">Reports</li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Person" asp-action="Index" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Person Report
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">EXAMPLES</li>
                        <li class="nav-item">
                            <a href="../calendar.html" class="nav-link">
                                <i class="nav-icon far fa-calendar-alt"></i>
                                <p>
                                    Calendar
                                    <span class="badge badge-info right">2</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card mt-3">
                    <div class="card-header">
                        <h3 class="card-title"><b>Add Person </b></h3>

                        @*<div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                        </button>
                        </div>*@
                    </div>

                    <div class="card-body">
                        @*<main role="main" class="pb-3">*@
                        @RenderBody()
                        @*</main>*@
                    </div>
                    <!-- /.card-body -->

                    <div class="card-footer">
                        Footer
                    </div>
                    <!-- /.card-footer-->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2014-2023 <a href="https://adminlte.io">AspDotNetCoreMVC</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- Datatable -->
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>

    <!-- AdminLTE for demo purposes -->
    @*<script src="~/dist/js/demo.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
